/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    height: 100%;
    background-image: url(https://primefaces.org/cdn/primeng/images/dock/window.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */


.card {
    height: 100%; /* 100% de la altura de la ventana */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Esto evitará cualquier desbordamiento que pueda causar el desplazamiento */
}


.p-terminal{
    background: black !important;
    color: white !important;
    border-color: red !important;
}

.p-terminal-content{
    /* color: greenyellow !important; */
}

.p-terminal-content-prompt{
    color: greenyellow !important;
}

/* .p-terminal-prompt{
    color: greenyellow !important;
} */
/* .p-terminal-input{
    color: greenyellow !important;
} */